version: '3.8'

services:
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: image_db
      MYSQL_USER: username
      MYSQL_PASSWORD: password
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u user -puser_password || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - my_network

  backend:
    build: ./backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: "mysql://user:user_password@db/mydatabase"
      BACKEND_URL: "localhost:8000"
      DB_URL: "db:3306"
    command: ["sh", "-c", "sleep 5 && uvicorn main:app --host 0.0.0.0 --port 8000"]
    ports:
      - "8000:8000"
    networks:
      - my_network
  
  frontend:
    build: ./frontend/app
    ports:
      - "80:8080"
    networks:
      - my_network
    command: ["npm", "run", "serve"]

networks:
  my_network:
    driver: bridge