# Игнорируем виртуальные окружения
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем конфиденциальные файлы
*.env

# Игнорируем тестовые файлы
tests/
*.test.py

# Игнорируем документацию
docs/

# Игнорируем другие временные файлы
*.log
*.sqlite3
